<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4QSPJ4M5EF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4QSPJ4M5EF');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<title>Modules of Advanced Java</title>
</head>
<body>

    

    <section class="text-gray-600 body-font">
        <br>
        
        <div class="container px-2 py-14 mx-auto flex flex-wrap" >
            <div class="flex flex-col text-center w-full mb-10">
                <h1 class="text-2xl font-medium title-font mb-2 text-red-500">Python Language</h1>
                <p class="mx-auto leading-relaxed text-base text-lg">
                    Python is a high-level, interpreted programming language that is widely used for various purposes, including web development, scientific computing, data analysis, artificial intelligence, and more. It was created by Guido van Rossum in the late 1980s and has since become one of the most popular programming languages in the world.</p>
              </div>
          <div class=" mx-auto flex flex-wrap" id = "data-output">

          </div>
         
          

        </div>

        <button class="flex mx-auto mt-5 text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Enroll Now!</button>
        <br>
      </section>

      <script src="../scripts/python.js"></script>
    
</body>
</html>