<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4QSPJ4M5EF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4QSPJ4M5EF');
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<title>Modules of Core Java</title>
</head>
<body>

    <!-- Header -->
    <header class="text-gray-600 body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <img src="../static/hugsForBugs_remove.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12 text-white p-2 bg-white-500 rounded-full" viewBox="0 0 30 30">
        </img>
          <span class="ml-3 text-xl text-red-500">Hugs For Bugs</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-500	flex flex-wrap items-center text-base justify-center">
          <a class="mr-5 hover:text-gray-900 text-lg font-medium" href="../index.html">Home</a>
          <a class="mr-5 hover:text-gray-900 text-lg font-medium" href="../index.html#learn">Learn coding with us</a>
          <a class="mr-5 hover:text-gray-900 text-lg font-medium" href="../index.html#contact">Contact us</a>
          <a class="mr-5 hover:text-gray-900 text-lg font-medium" href="../index.html#about">About us</a>
        </nav>
      </div>
    </header>
    

    <section class="text-gray-600 body-font">
        <br>
        
        <div class="container px-2 py-14 mx-auto flex flex-wrap" >
            <div class="flex flex-col text-center w-full mb-10">
                <h1 class="text-2xl font-medium title-font mb-2 text-red-500">Core Java Language</h1>
                <p class="mx-auto leading-relaxed text-base text-lg">Core Java is a programming language that is widely used for developing various types of applications, such as desktop applications, web applications, mobile applications, and embedded systems. It is an object-oriented language that is designed to be simple, secure, and platform-independent.</p>
              </div>
          <div class=" mx-auto flex flex-wrap" id = "data-output">

          </div>
         
          

        </div>

        <button class="flex mx-auto mt-5 text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg"><a href="./enrollNowForm.html">Enroll Now!</a></button>
        <br>
      </section>

      <script src="../scripts/corejavalang.js"></script>
      
      <!-- Footer -->
      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img src="../static/hugsForBugs_remove.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-12 h-12 text-white p-2 bg-white-500 rounded-full" viewBox="0 0 30 30">
              
          </img>
            <span class="ml-3 text-xl text-red-500">Hugs For Bugs</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2023 HugsForBugs —
            <a href="mailto:safammodak@gmail.com" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">safammodak@gmail.com</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500" href="https://instagram.com/_hugsforbugs_?igshid=YmMyMTA2M2Y=" target="_blank">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>
</body>
</html>